h3 {
    background: #333;
    color: rgb(255, 17, 0);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
p
{
background: #333;
color: rgb(55, 136, 190);
text-align: center;
padding: 10px;
margin-top: 20px;
}